<%= form_tag(edit_training_day_path(day: day, index: index), method: :get, remote: true, class: 'form-group') do %>
    <% if !errors.nil? %>
        <div id="error_explanation" class=" alert alert-danger">
          <h2><%= pluralize(errors.count, "error") %> prohibited this exercise from being saved:</h2>
          <ul>
            <% errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= text_field_tag :sets, nil, placeholder: 'Кількість підходів',class: 'form-control' %>
    <%= text_field_tag :repetitions, nil,  placeholder: 'Кількість повторів',class: 'form-control' %>
    <%= text_field_tag :rest, nil, placeholder: 'Час відпочинку',class: 'form-control' %>
    <%= select_tag :exercise, options_from_collection_for_select(exercises, 'id', 'name'),class: 'form-control select'%>
    <%= submit_tag 'Додати', class: 'form-control btn btn-md btn-primary'%>
<% end %>