<section id="features">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center"> Програми </h2>
      <p class="text-center"> Знайдіть необхідну Вам програму залежно від тілобудови, статі та та поставленої мети</p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
        <%= image_tag('programs/all-programs.png', class: 'img-responsive') %>
      </div>
      <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
        <div class="media service-box">
          <div class="pull-left">
            <i class="fa fa-line-chart"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">UX design</h4>
            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
          </div>
        </div>

        <div class="media service-box">
          <div class="pull-left">
            <i class="fa fa-cubes"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">UI design</h4>
            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
          </div>
        </div>

        <div class="media service-box">
          <div class="pull-left">
            <i class="fa fa-pie-chart"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">SEO Services</h4>
            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
          </div>
        </div>

        <div class="media service-box">
          <div class="pull-left">
            <i class="fa fa-pie-chart"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">SEO Services</h4>
            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row text-center">
    <h1>
      Програми тренувань
    </h1>
    <hr class="center-spacer">
  </div>
  <div class="row">
    <%= form_tag(program_filter_path, method: :get,  remote: true, class: 'form-group col-xs-12 col-sm-12 col-md-12 col-lg-12') do %>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 field">
          <%= select_tag :program_type, options_from_collection_for_select(@program_types, 'id', 'name'),{include_blank: 'Ціль тренувань', class: 'form-control inline'} %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 field">

          <%= select_tag :male_type, options_for_select(@male_types), {include_blank: 'Стать', class: 'form-control'}%>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 field">
          <%= select_tag :body_type, options_for_select(@body_types), {include_blank: 'Тілобудова', class: 'form-control'}%>

          <%= link_to '#', class:'body-tooltip', title: "#{image_tag('common/bodytype_tooltip.jpg', class: 'tooltip-image')}", 'data-toggle'=>'tooltip' do %>
            <i id="body-type-glyphicon" class="glyphicon glyphicon-question-sign"></i>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 field">
          <%= submit_tag 'Підібрати', class: 'form-control col-xs-3 col-sm-3 col-md-3 col-lg-3' %>
        </div>
    <% end %>
  </div>
  <div class="row programs-list">
    <%= render partial: 'programs/partials/programs_list', locals: {programs: @programs} %>
  </div>
</div>