<div class="container main-container">
  <div class="row text-center">
    <h1>
      Програми тренувань
    </h1>
  </div>
  <div class="row">
    <%= form_tag(program_filter_path, method: :get,  remote: true) do %>
        <%= select_tag :program_type, options_from_collection_for_select(@program_types, 'id', 'name'), {include_blank: 'Будь-який'} %>
        <%= select_tag :male_type, options_for_select(@male_types), {include_blank: 'Будь-який'}%>
        <%= select_tag :body_type, options_for_select(@body_types), {include_blank: 'Будь-який'}%>
        <%= submit_tag %>
    <% end %>
  </div>
  <div class="row programs-list">
    <%= render partial: 'programs/partials/programs_list', locals: {programs: @programs} %>
  </div>
</div>