<div class="container main-container edit-program">
  <h1>Редагування програми</h1>
  <hr>
  <div class="row">
  <%= form_for [current_user, @program], class: 'form-group' do |f| %>

        <!-- left column -->
        <div class="col-md-3">
          <div class="text-center">
            <%= image_tag(@program.program_image, class:'avatar img-thumbnail')%>
            <h6>Завантажте нове зображення</h6>
            <%= f.file_field :program_image %>
          </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-9 personal-info">
          <h3>Інформація про програму</h3>
              <label class="col-lg-3 control-label"> Назва: </label>
              <div class="col-lg-8">
                <%= f.text_field :name, class:'form-control'%>
              </div>
              <label class="col-lg-3 control-label">Опис:</label>
              <div class="col-lg-8">
                <%= f.text_area :description, rows: '15', class:'form-control'%>
              </div>
          <label class="col-lg-3 control-label"> Ціль: </label>
          <div class="col-lg-8">
            <%= f.collection_select(:program_type_id, @program_types, :id, :name ,  {prompt: true}, {class: 'form-control', include_blank: 'Будь-яка'}) %>
          </div>
          <label class="col-lg-3 control-label"> Тілобудова </label>
          <div class="col-lg-8">
            <%= f.select(:body_type, TrainingProgram.body_types.keys.to_a,  {prompt: false}, {class: 'form-control', include_blank: 'Будь-яка'}) %>
          </div>
          <label class="col-lg-3 control-label"> Стать </label>
          <div class="col-lg-8">
            <%= f.select(:male_type, TrainingProgram.male_types.keys.to_a,  {prompt: false}, {class: 'form-control', include_blank: 'Будь-яка'}) %>
          </div>
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                <%= f.submit 'Зберегти', class: 'btn btn-primary'%>
              </div>
        </div>

  <% end %>
  </div>
  <% tdays = @program.training_days %>
  <% i = 1%>
  <div class="row training-days">
    <div class="col-sm-1 col-md-2 col-lg-2"></div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
      <% tdays[0..2].each do |day| %>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="edit-day-container inline" id= <%="day#{day.id}"%>>
            <%= render partial: 'training_day', locals: {day: day, index: i} %>
            <% i+= 1%>
          </div>
        </div>
       <% end %>
    </div>
    <div class="col-sm-1 col-md-2 col-lg-2"></div>
  </div>
  <div class="row training-days">
    <div class="col-sm-1 col-md-2 col-lg-2"></div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
      <% tdays[3..5].each do |day| %>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="edit-day-container" id= <%="day#{day.id}"%>>
              <%= render partial: 'training_day', locals: {day: day, index: i} %>
              <% i+= 1%>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-sm-1 col-md-2 col-lg-2"></div>
  </div>
  <% day = tdays.last %>
  <div class="row training-days">
    <div class="col-sm-1 col-md-2 col-lg-2"></div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
      <div class="col-sm-4 col-md-4 col-lg-4"> </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="edit-day-container inline" id= <%="day#{day.id}"%>>
          <%= render partial: 'training_day', locals: {day: day, index: i} %>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4"> </div>
    </div>
    <div class="col-sm-1 col-md-2 col-lg-2"></div>
  </div>

</div>