<% if @program.program_image.present? %>
 <div class="container full-width">
  <div class="row program-head">
    <div id="program-head-block">
      <h1><%= @program.name %></h1>
      <%= link_to 'Розпочати', '#', class:'btn btn-lg square-btn-wr', role: 'button' %>
    </div>
  </div>
 </div>
<% end %>
<div id="program-body" class="container main-container">
  <% unless @program.program_image.present? %>
      <div class="row text-center">
        <h1> <%= @program.name %> </h1>
        <hr class="center-spacer">
      </div>
  <% end %>
  <div class="row desc-blocks">
    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center">
      <div class="desc-block">
        <div class="block-info"> <%= !@program.program_type.nil? && @program.program_type.name.present? ? @program.program_type.name : 'Будь-яка' %> </div>
        <div class="block-title"> Ціль </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center">
      <div class="desc-block">
      <div class="block-info"> <%= @program.body_type.present? ? @program.body_type :  'Будь-яка' %> </div>
      <div class="block-title"> Тілобудова </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center">
      <div class="desc-block">
      <div class="block-info"> <%= @program.male_type.present? ? @program.male_type : 'Будь-яка' %> </div>
      <div class="block-title"> Стать </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center">
      <div class="desc-block">
      <div class="block-info"> <%= @days_count %> </div>
      <div class="block-title"> Кількість днів </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center">
      <div class="desc-block">
      <div class="block-info"> <%= @ex_count %>  </div>
      <div class="block-title"> Кількість вправ </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center">
      <div class="desc-block">
      <div class="block-info"> <%= @author %> </div>
      <div class="block-title"> Автор </div>
      </div>
    </div>
  </div>
  <% unless @program.description.nil? || @program.description.empty? %>
    <div class="row description-row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1> Опис </h1>
        <hr class="section-heading-spacer">
        <p class="text-pre-line">
          <%= @program.description %>
        </p>
      </div>

    </div>
  <% end %>

  <%= render 'days' %>
  <div id="assign-program" class="row">
    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"></div>
    <div id = "assign-pr" class="col-xs-8 col-sm-10 col-md-10 col-lg-10">
      <%= render partial: 'programs/partials/assign_program', locals: {program: @program} %>
    </div>
  </div>
</div>
<style>
  .program-head {
      background-image: url('<%= @program.program_image %>');
  }
</style>