<div class="container main-container edit-program">
  <h1>Редагування профіля</h1>
  <hr>
  <div class="row">
    <%= form_for @user, class: 'form-group' do |f| %>

        <!-- left column -->
        <div class="col-md-3">
          <div class="text-center">
            <%= image_tag(@user.avatar, class:'avatar img-thumbnail')%>
            <h6>Завантажте нове зображення</h6>
            <%= f.file_field :avatar %>
          </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-9 personal-info">
          <h3>Основна інформація</h3>
          <label class="col-lg-3 control-label"> Ім’я: </label>
          <div class="col-lg-8">
            <%= f.text_field :username, class:'form-control'%>
          </div>
          <label class="col-lg-3 control-label">Email: </label>
          <div class="col-lg-8">
            <%= f.text_field :email, class:'form-control'%>
          </div>
          <label class="col-lg-3 control-label"> Номер телефону: </label>
          <div class="col-lg-8">
            <%= f.text_field :phone_number, class:'form-control'%>
          </div>
          <label class="col-lg-3 control-label"> Пароль: </label>
          <div class="col-lg-8">
            <%= f.password_field :password, class:'form-control'%>
          </div>
          <label class="col-lg-3 control-label"> Номер телефону: </label>
          <div class="col-lg-8">
            <%= f.password_field :password_confirmation, class:'form-control'%>
          </div>
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <%= f.submit 'Зберегти', class: 'btn btn-primary'%>
          </div>

        </div>
    <% end %>
  </div>
</div>