<a  name="services"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row center-outer">
      <div id="main-content-1" class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading"> Готові програми тренувань </h2>
        <p class="lead">Хочете набрати м’язеву масу або скинути зайву вагу, але не знаєте, як скласти програму тренувань?
          Вибирайте готову програму залежно від поставленої мети. </p>
        <%= link_to 'Вибрати', all_programs_path, class: 'btn btn-lg square-btn' %>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6 center-inner">
        <%= image_tag('main/content-image-1.jpg', class: 'img-responsive img-rounded', id: 'content-image-1') %>
      </div>
    </div>

  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-b">

  <div class="container">

    <div class="row center-outer">
      <div id="main-content-2" class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Відстежуйте прогрес  </h2>
        <p class="lead">
          Заводьте щоденник прогресу в особистому кабінеті для спостереженя за результатами тренувань. Ставте перед собою нові цілі та досягайте їх
        </p>
        <%= link_to 'Завести',user_signed_in? ? user_parameters_path(current_user) : new_user_registration_path, class: 'btn btn-lg square-btn' %>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6 center-inner">
        <%= image_tag('main/content-image-2.jpg', class: 'img-responsive img-rounded', id: 'content-image-2') %>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

  <div class="container">

    <div class="row center-outer">
      <div id="main-content-3" class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Індивідуальна програма тренувань</h2>
        <p class="lead">Отримайте програму на основі індивідуальних даних, що враховує  особливості організму та рівень підготовленості.
        </p>
        <%= link_to 'Отримати', individual_program_path, class: 'btn btn-lg square-btn' %>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6 center-inner">
        <%= image_tag('main/content-image-3.jpg', class: 'img-responsive img-rounded', id: 'content-image-3') %>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->