<ul>
  <% events.each do |event| %>
    <li>
      <div class="event">
        <%= link_to '', user_event_path(current_user.id, event.id), method: :delete,data: { confirm: 'Видалити планування?' }, remote: true , class: 'btn btn-xs btn-danger glyphicon glyphicon-remove' %>
        <h2> <%= event.name %></h2>
        <p> День: <%= Event::DAYNAMES[event.day] %></p>
        <p> Час: <%= event.time.strftime('%H:%M') %></p>
        <% if event.sms? %>
        <p> Сповіщення по SMS </p>
        <% end %>
        <% if event.email? %>
            <p> Сповіщення по Email </p>
        <% end %>
        <% program = event.training_day.training_programs(current_user).first %>
        <%= link_to user_training_program_path(current_user, program.id), class: 'btn btn-sm btn-success' do %>
            <%= "#{program.name}:" %>
            <br>
            <%= "#{event.training_day.description}" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
