<%= form_for([current_user, event], remote: true,  html: {id: 'individual-form'}) do |f|%>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-4"></div>
      <label class="col-xs-6 col-sm-3 col-md-3 col-lg-1 control-label"> Короткий опис: </label>
      <div class="col-xs-6 col-sm-5 col-md-5 col-lg-3">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Назва'%>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-4"></div>
      <label class="col-xs-6 col-sm-3 col-md-3 col-lg-1 control-label"> День тижня: </label>
      <div class="col-xs-6 col-sm-5 col-md-5 col-lg-3">
        <%= f.select(:day, Event::DAYNAMES.zip((0..6).to_a), {}, {class: 'form-control'}) %>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-4"></div>
      <label class="col-xs-6 col-sm-3 col-md-3 col-lg-1 control-label"> Тренувальний день: </label>
      <div class="col-xs-6 col-sm-5 col-md-5 col-lg-3">
        <%= f.select(:training_day_id, @days, {}, {class: 'form-control'}) %>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-4"></div>
      <label class="col-xs-6 col-sm-3 col-md-3 col-lg-1 control-label"> Час: </label>
      <div class="col-xs-6 col-sm-5 col-md-5 col-lg-3">
        <div class="form-group input-group bootstrap-timepicker timepicker ">
          <%= f.text_field(:time, id: 'timepicker', class: 'form-control input-small ')%>
          <span id="timepicker_span" class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-4"></div>
      <label class="col-xs-6 col-sm-3 col-md-3 col-lg-1 control-label"> Сповіщення: </label>
      <div class="col-xs-6 col-sm-5 col-md-5 col-lg-3">
        <div class="checkbox-inline">
          <%= f.check_box :email %>
          <%= f.label :email, "Email" %>
        </div>
        <div class="checkbox-inline">
          <%= f.check_box :sms %>
          <%= f.label :sms, "SMS" %>
        </div>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-4"></div>
      <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
        <%= submit_tag 'Зберегти', class: 'btn form-control btn-primary'%>
      </div>
      <div class="col-sm-7 col-md-7 col-lg-6"></div>
    </div>
<% end %>
