<div id="events">
  <div class="container" id="events-container">
    <ul>
      <li>
        <div class="event">
          <h2> <%= @event.name %></h2>
          <p>
            До запланованого тренування залишилося <%= (@event.correct_time - Time.now).to_i.abs / 60 %> хв.
          </p>
          <p> День: <%= Event::DAYNAMES[@event.day] %></p>
          <p> Час: <%= @event.correct_time.strftime('%H:%M') %> </p>
          <% program = @event.training_day.training_programs(current_user).first %>
          <%= link_to user_training_program_path(current_user, program.id), class: 'btn btn-sm btn-success' do %>
              <%= "#{program.name}:" %>
              <%= "#{@event.training_day.description}" %>
          <% end %>
          <% @event.training_day.training_day_exercises.each do |pair| %>
              <div class="exercise-info">
                <div class = "inline">
                  <%= image_tag(pair.exercise.exercise_image.url, class: 'img-responsive inline') %>
                </div>
                <div class="inline">
                  <h4> <%= pair.exercise.name %> </h4>
                  <%= image_tag('common/sets.svg') %>
                  <p class="inline"><%= pair.sets %></p>
                  <%= image_tag('common/repetitions.svg')%>
                  <p class="inline"> <%= pair.repetitions %></p>
                  <%= image_tag('common/rest.svg')%>
                  <p class="inline"> <%= pair.rest %></p>
                </div>

              </div>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>