<%= form_tag(change_exercise_path(day_exercise: day_exercise, index: index), method: :get, remote: true) do %>
    <% if !errors.nil? %>
        <div id="error_explanation" class=" alert alert-danger">
          <h2><%= pluralize(errors.count, "error") %> prohibited this exercise from being changed:</h2>
          <ul>
            <% errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= text_field_tag :sets, day_exercise.sets, placeholder: 'Кількість підходів',class: 'form-control' %>
    <%= text_field_tag :repetitions, day_exercise.repetitions,  placeholder: 'Кількість повторів',class: 'form-control' %>
    <%= text_field_tag :rest, day_exercise.rest, placeholder: 'Час відпочинку',class: 'form-control' %>
    <%= select_tag :exercise, options_from_collection_for_select(exercises, 'id', 'name', day_exercise.exercise.id),class: 'form-control select'%>
    <%= submit_tag 'Редагувати' , class: 'form-control btn btn-md btn-primary'%>
<% end %>