<% programs.each do |program| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <%= link_to common_program_path(program), class: 'program-link' do %>
          <div class="red-shadow-box">
            <div class="image-wrapper overlay-fade-in">
              <%= image_tag(program.program_image.url) %>
              <h3 class="program-name"><%= program.name %></h3>
            </div>
            <div class="program-description ">
              <div class="description-block inline">
                <div class="block-heading text-muted">
                  Ціль тренувань:
                </div>
                <div class="block-info">
                  <%= program.program_type.name.present? ? program.program_type.name : 'Будь-яка' %>
                </div>
              </div>
              <div class=" description-block inline">
                <div class="block-heading text-muted">
                  Тілобудова:
                </div>
                <div class="block-info">
                  <%= program.body_type.present? ? program.body_type :  'Будь-яка' %>
                </div>
              </div>
              <div class=" description-block inline">
                <div class="block-heading text-muted">
                  Стать:
                </div>
                <div class="block-info">
                  <%= program.male_type.present? ? program.male_type : 'Будь-яка' %>
                </div>
              </div>
            </div>
          </div>

      <% end %>
    </div>
<% end %>