<section id="parameters">
  <div id="params-container" class="container">
    <%= render partial: 'parameters_list', locals: {parameters: @parameters} %>
  </div>

  <div id="params-form" class="container">
    <%= form_for([current_user, current_user.parameters.build], html: {class: 'form-inline'}, remote: true)do |f|%>
      <div class="form-group">
        <%= f.text_field :height, class: 'form-control', placeholder: 'Ріст'%>
      </div>
        <div class="form-group">
          <%= f.text_field :weight, class: 'form-control', placeholder: 'Вага'%>
        </div>
        <div class="form-group">
          <%= f.text_field :neck, class: 'form-control', placeholder: 'Шия'%>
        </div>
        <div class="form-group">
          <%= f.text_field :shoulders, class: 'form-control', placeholder: 'Плечі'%>
        </div>
        <div class="form-group">
          <%= f.text_field :chest, class: 'form-control', placeholder: 'Груди'%>
        </div>
        <div class="form-group">
          <%= f.text_field :biceps, class: 'form-control', placeholder: 'Біцепс'%>
        </div>
        <div class="form-group">
          <%= f.text_field :forearm, class: 'form-control', placeholder: 'Передпліччя'%>
        </div>
        <div class="form-group">
          <%= f.text_field :waist, class: 'form-control', placeholder: 'Талія'%>
        </div>
        <div class="form-group">
          <%= f.text_field :hip, class: 'form-control', placeholder: 'Бедра'%>
        </div>
        <div class="form-group">
          <%= f.text_field :thigh, class: 'form-control', placeholder: 'Стегно'%>
        </div>
        <div class="form-group">
          <%= f.text_field :calf, class: 'form-control', placeholder: 'Литка'%>
        </div>
        <div class="form-group">
          <%= f.submit 'Зберегти', class: 'form-control btn btn-primary'%>
        </div>
    <% end %>
  </div>
</section>